/target
/lib
/classes
/checkouts
/pom.xml
/doc
pom.xml.asc
*.jar
*.class
/.lein-*
/.env
/.nrepl-port
/fruit-links.txt
/resources/.DS_Store
/resources/untitled
/resources/wordfreqs.csv
/src/.DS_Store
/db/sqlite_wordnet_data.db
